:root {
  --calander-header-higet: 2.5rem;
}

.calander-container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: calc(100vh - var(--calander-header-higet) - var(--nav-height));
  margin: 1rem auto;
}

.calander {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: var(--coloe-secondary);
  border-radius: 10px;
}

.calander-header {
  display: flex;
  width: 100%;
  height: var(--calander-header-higet);
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid;
}

.calander-header-item {
  font-size: 1.5rem;
}

.previous,
.next {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.calander-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - var(--calander-header-higet));
}

.week {
  flex: 1 1 200px;
  display: flex;
  justify-content: space-around;
}

.day {
  width: calc(100% / 7);
  height: 100%;
  color: var(--color-bold);
  border: 1px solid var(--color-gray);
  padding: 1px;
  font-size: 1.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.today {
  background-color: var(--color-gray);
  font-weight: 700;
  padding: 0;
  border: 2px solid var(--color-secondary);
}

/* .selected {
  background-color: var(--color-secondary);
} */
.not-in-current-month {
  color: lightgray;
}

.open {
  background-color: var(--color-secondary);
  color: var(--color-bold);
}

.close {
  background-color: var(--color-primery);
  color: var(--color-black);
  border-top: 2px solid var(--color-close);
  border-bottom: 2px solid var(--color-close);
}

.close-massege {
  font-style: italic;
  color: var(--color-close);
}

.user-invaited {
  background-color: var(--color-gray);
}

.booked-by-user {
  background-color: var(--color-booked-by-user);
  color: var(--color-black);
}

.booked-by-user .btn {
  border-color: var(--color-black);
}

.invided-list {
  display: none;
}

.selected .invided-list {
  display: block;
  position: absolute;
  background-color: var(--color-gray);
  padding: 0.2rem;
  border-radius: 0.4rem;
  box-shadow: 2px 2px gray;
  bottom: 17vh;
  right: 2vw;
  z-index: 1;
}
