* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.5rem;
  border-radius: 100px;
  border: 1px var(--color-primery) solid;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.btn:hover {
  background-color: rgba(10, 10, 10, 0.2);
}

.blog {
  background: url('./constructions.jpg') center center / cover no-repeat;
  margin: 80px auto;
  width: 80%;
  height: 200px;
}
