:root {
  --spinner-front-color: rgb(18, 248, 141);
  --spinner-background-color: #333;
}

.spinner {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 10px;
}

.jump > .dot {
  animation: jump 1.5s infinite linear;
  background-color: var(--color-bold);
}

.jump .dot-m {
  animation-delay: 0.15s;
}
.jump .dot-r {
  animation-delay: 0.3s;
}

@keyframes jump {
  0% {
    transform: none;
  }
  20% {
    transform: translateY(-50px);
  }
  40% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

.spinner h2 {
  padding: 50px;
  font-size: 2rem;
  color: var(--color-bold);
}
