.new-reservation {
  width: 80%;
  height: 80%;
  max-height: 38rem;
  margin: auto;
  background-color: var(--color-white);
  z-index: 2;
  padding: 3rem 0;
}

.column h4 {
  font-size: 2rem;
  color: var(--color-black);
}

.new-reservation-btns .btn {
  margin-top: 1rem;
  font-size: 1.4rem;
  background-color: var(--color-secondary);
}

.new-reservation-box input {
  border-radius: 0.5rem;
  background-color: var(--color-gray);
  color: var(--color-black);
}

.new-reservation-open {
  font-size: 1.3rem;
}
