.info-header {
  width: 100%;
  background-color: var(--color-secondary);
  height: 4rem;
  font-size: 2.5rem;
  padding: 0 3rem;
  border: var(--color-primery) 1px solid;
}

.accordion {
  cursor: pointer;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: var(--color-primery);
}

.panel {
  max-height: 0;
  overflow: hidden;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: flex-start;
}

.panel-open {
  max-height: 10000px;
  overflow: auto;
  transition: max-height 0.2s ease-out;
}

.panel textarea {
  margin: 0.5rem;
  width: 80%;
  height: fit-content;
  border-color: var(--color-bold);
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.controllers {
  margin-right: 1rem;
  flex: 0 0 9rem;
  font-size: 1.4rem;
}

.list-btn {
  margin-top: 0.7rem;
}

.static-data-item {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: 100%;
  display: flex;
}

.static-data-item-title {
  width: 16rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: (--color-black);
}

.static-data-item-content {
  color: var(--color-bold);
}

.panel-updates {
  flex-direction: column;
  align-items: center;
}
.update-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1em;
  padding-top: 0.5em;
  border-bottom: 2px dashed var(--color-secondary);
}

.add-new-update input {
  margin-left: 1rem;
  flex: 1 1 200px;
  border-radius: 1rem;
  font-size: 1.4rem;
  height: 3.5rem;
}

.add-new-update .btn {
  font-size: 1.4rem;
}

.update-item-content {
  flex: 1 1 200px;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.update-item-meta-data {
  font-size: 1.2rem;
  color: var(--color-bold);
}
